* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #213a11;
  --second-color: #49fc38;
}
body {
  color: var(--second-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

.hero {
  background-image: url("../images/pond.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 50%;
}

.hero h2 {
  display: flex;
  margin: 250px 0 0 500;
}

header {
  padding: 20px 35px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--second-color);
}

header a {
  text-decoration: none;
  color: var(--second-color)
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
  background: var(--second-color)
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--main-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--main-color);
}
/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  display: flex;
    padding: 60px;
  padding: 60px;
}

.section-title {
  display: block;
} 

div {
  display: flex;
}


header.section-title {
    border-right: 5px solid red;
    background: none;
}
/* HERO STYLES START */
